*.md text eol=lf
*.html text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.js text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.svg text eol=lf
*.rb text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.lock text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
