---
title: 검색
sitemap: false
layout: default
---

<p><span id="search-process">검색</span> <span id="search-query-container" style="display: none;">"<strong id="search-query"></strong>" 결과</span></p>
<ul id="search-results"></ul>

<script type="application/json" id="search-data">
[
{% assign need_comma = false %}
{% for post in site.posts %}
	{% if need_comma %},{% endif %}
	{"id":"{{ post.url | slugify }}","title":{{ post.title | jsonify }},"url":{{ post.url | jsonify }},"content":{{ post.content | strip_html | replace_regex: "[\s\n]+", " " | strip | jsonify }}}
	{% assign need_comma = true %}
{% endfor %}
{% for page in site.html_pages %}
	{% if page.title and page.url != '/' and page.url != '/search/' %}
	{% if need_comma %},{% endif %}
	{"id":"page-{{ page.url | slugify }}","title":{{ page.title | jsonify }},"url":{{ page.url | jsonify }},"content":{{ page.content | strip_html | replace_regex: "[\s\n]+", " " | strip | jsonify }}}
	{% assign need_comma = true %}
	{% endif %}
{% endfor %}
]
</script>
<script>window.baseurl = "{{ site.baseurl }}";</script>
<script src="{{ site.baseurl }}/scripts/search.js"></script>
<script>document.getElementById("search-input") && document.getElementById("search-input").focus();</script>
