pre, code, tt {
	font-family: Inconsolata, Consolas, Courier, "Courier New", "Liberation Mono", monospace;
	font-size: 0.85em;
	white-space: pre-wrap;
	border-radius: 2px;
	line-height: 1.4;
	font-weight: 400;
}

pre {
	box-sizing: border-box;
	margin: 0 0 1.75em 0;
	width: 100%;
	padding: 16px;
	font-size: 0.9em;
	white-space: pre;
	overflow: auto;
	border-radius: 3px;
	border: 1px solid transparent;

	code, tt {
		font-size: inherit;
		white-space: pre-wrap;
		background: transparent;
		border: none;
		padding: 0
	}
}

blockquote > code,
li > code,
p > code {
	padding: 2px 5px;
	white-space: nowrap;
	border-radius: 3px;
}

@media (max-width: $mobile-break - 1px) {
	blockquote > code,
	li > code,
	p > code {
		white-space: normal;
		overflow-wrap: anywhere;
	}
}
