table {
	width: 100%;
	margin-bottom: 1.75em;
}

tr {
	border-bottom: 1px solid #EEE;
}

tr:nth-child(even) {
	background: #fcfcfc;
}

td, th {
	padding: 8px 12px;
	text-align: left;
	vertical-align: top;
	word-break: keep-all; 
}

/* Prevent the first column from squishing too much */
td:first-child, th:first-child {
	min-width: 130px;
	white-space: nowrap;
}

th {
	padding-bottom: 4px;
}

@media (max-width: $mobile-break - 1px) {
	table {
		display: block;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	td,
	th {
		word-break: break-word;
		white-space: normal;
	}

	td:first-child,
	th:first-child {
		min-width: 0;
		white-space: normal;
	}
}
